__pycache__/
*.pyc
.vscode/
.env
.idea/!/logs/
/rag_data/
/logs/
/generated_projects/
/.idea/AvA_Reborn.iml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/workspace/
